{% extends "base.html" %} {% block title %} User Profile {% endblock %} {% block
content %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;

    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }

  .active,
  .collapsible:hover {
    background-color: #555;
  }

  .content1 {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
</style>
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      {% set name = user.nickname if user.nickname else user.username %}
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="background-color: grey; height: 200px"
          >
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1; border-radius: 20px"
              />
              <!---->
              {% if not current_user.is_authenticated %}
              <p class="text-center" style="z-index: 1; color: black">
                Sign in to follow users.
              </p>
              {% elif current_user != user %} {% if
              current_user.is_following(user.id) %}

              <button
                type="button"
                class="btn btn-primary"
                data-mdb-ripple-color="dark"
                style="z-index: 1"
              >
                <a
                  style="text-decoration: none; color: white"
                  href="/unfollow/{{ user.id }}"
                  >Unfollow</a
                >
              </button>
              {% else %}
              <button
                type="button"
                class="btn btn-primary"
                data-mdb-ripple-color="dark"
                style="z-index: 1"
              >
                <a
                  style="text-decoration: none; color: white"
                  href="/follow/{{ user.id }}"
                  >Follow</a
                >
              </button>
              {% endif %} {% else %}
              <button
                type="button"
                class="btn btn-outline-dark"
                data-mdb-ripple-color="dark"
                style="z-index: 1"
              >
                <a
                  style="text-decoration: none"
                  href="./{{ user.username }}/edit"
                  >Edit Profile</a
                >
              </button>
              {% endif %}
            </div>
            <div class="ms-3" style="margin-top: 130px">
              <h5>{{ name }}</h5>
              <p>{{ user.username }}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">0</p>
                <p class="small text-muted mb-0">Posts</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">{{ user.follower_count() }}</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5">{{user.following_count() }}</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <div class="container text-center">
                <div class="row">
                  <div
                    class="col border border-light mb-3"
                    style="font-weight: bold; font-size: larger"
                  >
                    About
                  </div>
                  <div
                    class="col border border-light mb-3"
                    style="font-weight: bold; font-size: larger"
                  >
                    Recent Activity
                  </div>
                  <div class="w-100"></div>
                  <div
                    class="col border border-light"
                    style="
                      background-color: lightgray;
                      border-radius: 10px;
                      padding: 100px 0;
                    "
                  >
                    {{ user.bio if user.bio else "No information given." }}
                  </div>
                  <div
                    class="col border border-light"
                    style="
                      background-color: lightgray;
                      border-radius: 10px;
                      padding: 100px 0;
                    "
                  ></div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent posts</p>
            </div>

            {%if len < 3 %} {%for i in range(len-1, -1, -1)%}
            <div
              class="card-body d-flex flex-column align-items-start border border-light mt-2"
              style="background-color: lightgray; border-radius: 10px"
            >
              <strong class="d-inline-block mb-2 text-primary">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image"
                  class="img-fluid img-thumbnail mt-0 mb-0"
                  style="width: 50px; z-index: 1; border-radius: 20px"
                />
                {{ name }}
              </strong>
              <p class="card-text mb-auto">{{chirp[i].text}}</p>
            </div>
            {%endfor%} {%else%} {%for i in range(len-1,len-4,-1)%}
            <div
              class="card-body d-flex flex-column align-items-start border border-light mt-2"
              style="background-color: lightgray; border-radius: 10px"
            >
              <strong class="d-inline-block mb-2 text-primary">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image"
                  class="img-fluid img-thumbnail mt-0 mb-0"
                  style="width: 50px; z-index: 1; border-radius: 20px"
                />
                {{ name }}
              </strong>
              <p class="card-text mb-auto">{{chirp[i].text}}</p>
            </div>
            {%endfor%}

            <button type="button" class="collapsible mt-2">Show all</button>
            <div class="content1">
              {%for i in range(len-4,-1,-1)%}
              <div
                class="card-body d-flex flex-column align-items-start border border-light mt-2"
                style="background-color: lightgray; border-radius: 10px"
              >
                <strong class="d-inline-block mb-2 text-primary">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                    alt="Generic placeholder image"
                    class="img-fluid img-thumbnail mt-0 mb-0"
                    style="width: 50px; z-index: 1; border-radius: 20px"
                  />
                  {{ name }}
                </strong>
                <p class="card-text mb-auto">{{chirp[i].text}}</p>
              </div>
              {%endfor%}
            </div>
            {%endif%}
            <script>
              var coll = document.getElementsByClassName("collapsible");
              var i;

              for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                  this.classList.toggle("active");
                  var content = this.nextElementSibling;
                  if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                  } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                  }
                });
              }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
